<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="menu-editor">MegaRevistas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="menu-editor/publicar-revista">Publicar revista</a>
            </li>
            <li class="nav-link active">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-link active">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-link active nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opciones de tu usuario
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="menu-editor/editar-perfil">Editar Perfil</a></li>
                <li><a class="dropdown-item" href="#">Publicar una revista</a></li>
                <li><a class="dropdown-item" href="menu-editor/revistas">Ver tus revistas</a></li>
                <li><a class="dropdown-item" href="#" (click) = cerrarSesion()>Cerrar sesion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </nav>
