<div class="container mt-5" style="width: 800px;">
    <div class="row">
        <div class="col-sm">
            <h1>{{resumenRevista.nombreRevista}}</h1>
            <div style="float: left;">
                <div class="row">
                    <div class="col-sm">
                        <img class="miniatura" src="{{urlCaratula}}">
                    </div>
                </div>
            </div>
            <div style="float: left; margin-left: 30px;">
                <div style="margin-top: 10px;">
                    <div class="titulos">
                        <label>Descripción:</label>
                    </div>
                    <div class="contenido">
                        <p>{{resumenRevista.descripcion}}</p>
                    </div>
                </div>
                <div style="clear: both;">
                    <div class="titulos">
                        <label>Categoria:</label>
                    </div>
                    <div class="contenido">
                        <p>{{resumenRevista.categoria}}</p>
                    </div>
                </div>
                <div style="clear: both;">
                    <div class="titulos">
                        <label>Usuario creador:</label>
                    </div>
                    <div class="contenido">
                        <p>{{resumenRevista.usuarioCreador}}</p>
                    </div>
                    <div class="contenido" style="margin-left: 20px;">
                        <button (click)="dirigirAPerfil()" class="btn btn-outline-primary">Ver perfil del
                            editor</button>
                    </div>
                </div>
                <div style="clear: both;">
                    <div class="titulos">
                        <label>Numero de likes:</label>
                    </div>
                    <div class="contenido">
                        <p>{{resumenRevista.numeroDeLikes}}</p>
                    </div>
                </div>
            </div>
            <div style="clear: both;">
                <label for="tagsDisponibles" class="paraLabels mt-2">Tags de la revista</label>
                <div></div>
                <button *ngFor="let tag of tags" id="tagsDisponibles" name="tagsDisponibles" type="button"
                    class="btn btn-info" style="margin-left: 5px; margin-top: 10px;">
                    {{tag.nombreTag}}
                </button>
            </div>
            <!--Este sera el contenedor del pdf como tal-->
            <div class="mt-2">
                <iframe [src]="urlSegura" style="width:800px; height:600px;" frameborder="0"></iframe>
            </div>
            <div class="mt-2">
                <!--Aqui la seccion de likes-->
                <div [hidden]="interacciones.estadoLikes == false" style="float: left;">
                    <button class="btn btn-info" (click)="darMeGusta()">Dar "Me gusta" a esta revista</button>
                </div>
                <div style="float: right;">
                    <form [formGroup]="formPago" (ngSubmit)="hacerPago()"
                        [ngClass]="{'was-validated': !formPago.pristine}">
                        <div class="mb-3">
                            <label for="fechaPago" class="form-label">Fecha de pago</label>
                            <input type="date" class="form-control" name="fechaPago" id="fechaPago"
                                formControlName="fechaPago" />
                            <div [hidden]="formPago.controls.fechaPago.valid || formPago.controls.fechaPago.pristine"
                                class="alert alert-danger mt-2" role="alert">
                                La fecha de pago es requerida.
                            </div>
                        </div>
                        <!--Boton para realizar un pago-->
                        <button type="submit" name="btnPagar" [disabled]="formPago.invalid"
                            class="btn btn-success mt-2">
                            Realiza el pago de tu
                            suscripcion
                        </button>
                        <div [hidden]="banderaErrorPago == false" class="alert alert-danger mt-3" role="alert">
                            {{mensajeDeConfirmacionPago}}
                        </div>
                        <div [hidden]="banderaConfirmacionPago == false" class="alert alert-success mt-3" role="alert">
                            {{mensajeDeConfirmacionPago}}
                        </div>
                    </form>
                </div>
            </div>
            <!--Seccion de comentarios-->
            <div [hidden]="interacciones.estadoComentarios == false" style="margin-top: 5cm;">
                <label for="tagsDisponibles" class="mt-2">Deja un comentario</label>
                <textarea class="form-control mt-2" id="comentario" rows="3" placeholder="Tu comentario"
                    name="comentario"></textarea>
                <button class="btn btn-info mt-2" style="float: right;" (click)="hacerComentario()">comentar</button>
                <!--Mensaje de fallo en la publicacion de un comentario-->
                <div [hidden]="banderaErrorComentario == false" class="alert alert-danger mt-3" role="alert"
                    style="clear: both;">
                    {{mesnajeConfimacionComentario}}
                </div>
            </div>
            <div style="clear: both; margin-top: 3cm;">
                <label for="tagsDisponibles" class="mt-2">Seccion de comentarios</label>
                <app-comentario [datosComentario]="comentario" *ngFor="let comentario of comentarios"></app-comentario>
            </div>
        </div>
    </div>
</div>