<div style="margin-top: 1cm;">
    <!--Este sera el contenedor de la imagen del perfil, alineado a la izquierda-->
    <div style="float: left;">
        <img class="miniatura" src="{{urlFotoPerfil}}">
    </div>
    <!--Contenedor de la informacion del comentario-->
    <div style="margin-left: 2cm; width: 10cm;">
        <label style="font-weight: bold;">{{datosComentario.usuarioCreador}}</label>
        <p style="margin-top: 0.09cm;">{{datosComentario.contenidoComentario}}</p>
    </div>
</div>