<div>
    <app-anuncio-video style="float: left;"></app-anuncio-video>
    <app-anuncio-imagen style="float: left;"></app-anuncio-imagen>
    <app-anuncio-texto style="float: left;"></app-anuncio-texto>
</div>
<h2 class="titulo">{{titulo}}</h2>
<div class="input-group mb-3 divALaIzquierda" style="width: 500px; margin-left: 20px;">
    <input type="text" class="form-control" placeholder="Buscar una revista" name="revistaBusqueda"
        id="revistaBusqueda">
    <button class="btn btn-outline-secondary" type="button" id="btnBuscar" (click)="buscar()">Buscar</button>
</div>
<div class="form-check divALaIzquierda" style="margin-left: 20px;">
    <input class="form-check-input" type="radio" id="etiqueta" name="rol" value="Editor" checked="true"
        style="cursor: pointer;">
    <label class="form-check-label">
        Etiqueta
    </label>
</div>
<div class="form-check divALaIzquierda" style="margin-left: 20px;">
    <input class="form-check-input" type="radio" id="categoria" name="rol" value="Administrativo"
        style="cursor: pointer;">
    <label class="form-check-label">
        Categoria
    </label>
</div>
<div class="divALaIzquierda" style="margin-left: 20px;">
    <button class="btn btn-outline-secondary" type="button" id="btnVerRecomendadas" (click)="ngOnInit()">Ver revistas
        recomendadas</button>
</div>
<div class="divALaIzquierda" style="margin-left: 20px;">
    <button class="btn btn-outline-secondary" type="button" id="btnVerSuscripciones" (click)="verSuscripciones()">Ver tus
        suscripciones</button>
</div>
<div class="tablero">
    <app-card-revista [datosCard]="card" *ngFor="let card of cards"></app-card-revista>
</div>