<div>
    <h2 class="titulo">Reportes que puedes filtrar por revista</h2>
    <div class="input-group mb-3 divALaIzquierda" style="width: 500px; margin-left: 20px;">
        <input type="text" class="form-control" placeholder="Nombre de la revista" name="revistaBusqueda"
            id="nombreRevista">
    </div>
    <div class="input-group mb-3 divALaIzquierda" style="width: 500px; margin-left: 20px;">
        <input type="text" class="form-control" placeholder="Nombre del usuario creador" name="revistaBusqueda"
            id="usuarioCreador">
    </div>
    <div class="divALaIzquierda" style="margin-left: 20px;">
        <input type="date" id="primeraFecha" class="form-control">
    </div>
    <div class="divALaIzquierda" style="margin-left: 20px;">
        <input type="date" id="segundaFecha" class="form-control">
    </div>
    <div style="clear: both; margin-left: 3cm;">
        <div class="divALaIzquierda" style="margin-left: 20px; margin-top: 1cm;">
            <button class="btn btn-outline-secondary" type="button" id="btnVerRecomendadas"
                (click)="gananciasPorRevistas()">Reporte de ganancias por revista en un intervalo de tiempo</button>
        </div>
    </div>
</div>
<div style="clear: both; margin-top: 3cm;">
    <h2 class="titulo">Reportes que puedes filtrar por anunciante</h2>
    <div class="input-group mb-3 divALaIzquierda" style="width: 500px; margin-left: 20px;">
        <input type="text" class="form-control" placeholder="Nombre del anunciante" name="revistaBusqueda"
            id="nombreAnunciante">
    </div>
    <div class="divALaIzquierda" style="margin-left: 20px;">
        <input type="date" id="primeraFechaAnunciante" class="form-control">
    </div>
    <div class="divALaIzquierda" style="margin-left: 20px;">
        <input type="date" id="segundaFechaAnunciante" class="form-control">
    </div>
    <div style="clear: both; margin-left: 3cm;">
        <div class="divALaIzquierda" style="margin-left: 20px; margin-top: 1cm;">
            <button class="btn btn-outline-secondary" type="button" id="btnVerRecomendadas"
                (click)="gananciasPorAnuncios()">Reporte de ganancias por anunciante en un intervalo de tiempo</button>
        </div>
    </div>
</div>
<div style="clear: both; margin-top: 3cm;">
    <h2 class="titulo">Reportes solo en un intervalo de tiempo</h2>
    <div class="divALaIzquierda" style="margin-left: 20px;">
        <input type="date" id="primeraFechaAnunciante" class="form-control">
    </div>
    <div class="divALaIzquierda" style="margin-left: 20px;">
        <input type="date" id="segundaFechaAnunciante" class="form-control">
    </div>
    <div style="clear: both; margin-left: 3cm;">
        <div class="divALaIzquierda" style="margin-left: 20px; margin-top: 1cm;">
            <button class="btn btn-outline-secondary" type="button" id="btnVerRecomendadas"
                (click)="gananciasPorRevistas()">Reporte de ganancias por revista en un intervalo de tiempo</button>
        </div>
    </div>
</div>